<ion-slide>
<ion-view view-title="Anyhap Friends">
  <div align="left" class="bar bar-header-anyhapfrnds">
      <div class="back_arrow_padding" ui-sref="profilerating" >
    <img src="img/back_arrow_small.png" class="back_arrow"/>
  <div class="col-33 anyhapfrnds_text">Anyhap Friends</div></div>
  <div class="col-33 anyhapfrnds_text">&nbsp;</div>
<div class="col-33 anyhapfrnds_text" ui-sref="creategroup">CREATE</div>
  </div>
<div class="anyhapfrnds_padding">


    <div align="center">

      <ion-tabs class="tabs-icon-top">
          <ion-tab title="FOLLOWERS" class="tabs-top-saved">
          <div class="row search-padding">
            <label class="item item-input srch_input">
                  <img src="img/search_icon_grey.png" class="search_icon"/>
                  <input type="text" placeholder="Search">
                </label>

          </div>
          <br>
            <div class="row search-padding">

                        <div class="col-20 ">
                          <img src="img/notification_pic3.png"/>

                        </div>
                        <div class="col-50">
                          <span class="user_txt">Livia White</span>

                        </div>
                        <div class="col-30">
                          <button class="button button-full button-calm button_follow">FOLLOW</button>
                        </div>
                      </div>
                      <div class="row search-padding">
                        <div class="col-20">
                          <img src="img/notification_pic1.png"/>

                        </div>
                        <div class="col-50">
                          <span class="user_txt">Patrick</span>

                        </div>
                        <div class="col-30">
                          <button class="button button-full button-calm button_unfollow">UNFOLLOW</button>
                        </div>
                      </div>
                      <div class="row search-padding">
                          <button class="button button-positive button_findfriends" ui-sref="invitefriends"><h5 class="findfriends_txt">DIDN'T FIND YOUR FRIENDS? INVITE THEM</h5></button>
                      </div>
        </ion-tab>
        <ion-tab title="FOLLOWING" class="tabs-top-saved" style="color:#ddd;">
          <div class="row search-padding">
            <label class="item item-input srch_input">
                  <img src="img/search_icon_grey.png" class="search_icon"/>
                  <input type="text" placeholder="Search">
                </label>

          </div>
            <br>
            <div class="row search-padding">

                        <div class="col-20 ">
                          <img src="img/notification_pic1.png"/>

                        </div>
                        <div class="col-50">
                          <span class="user_txt">Pablo Figueroa</span>

                        </div>
                        <div class="col-30">
                          <button class="button button-full button-calm button_unfollow">UNFOLLOW</button>
                        </div>
                      </div>
                      <div class="row search-padding">
                        <div class="col-20">
                          <img src="img/notification_pic1.png"/>

                        </div>
                        <div class="col-50">
                          <span class="user_txt">Marta Goodman</span>

                        </div>
                        <div class="col-30">
                          <button class="button button-full button-calm button_unfollow">UNFOLLOW</button>
                        </div>
                      </div>
                      <div class="row search-padding">
                        <div class="col-20">
                          <img src="img/notification_pic1.png"/>

                        </div>
                        <div class="col-50">
                          <span class="user_txt">Patrick</span>

                        </div>
                        <div class="col-30">
                          <button class="button button-full button-calm button_unfollow">UNFOLLOW</button>
                        </div>
                      </div>

                      <div class="row search-padding" style="bottom:0px;position:relative;">
                          <button class="button button-positive button_findfriends" ui-sref="invitefriends"><h5 class="findfriends_txt">DIDN'T FIND YOUR FRIENDS? INVITE THEM</h5></button>
                      </div>

        </ion-tab>
        <ion-tab title="GROUPS" class="tabs-top-saved">
          <div align="left" class="row coworkers_padding">
            <div class="col-33">
              <img src="img/coworkers_icon.png"class="co-workers_icon"/>
            </div>
            <div class="col" ui-sref="coworkers">
              <span class="coworkers_txt">Co-Workers</span>
            </div>
          </div>

        </ion-tab>
        </ion-tabs>

    </div>
  </div>
<ion-content >





  </ion-content>
</ion-view>
<ion-slide>
