<ion-slide>
<ion-view>
  <div align="left" class="bar bar-header-forgot">
      <div ui-sref="app.mainnow" class="row back_arrow_padding">
    <img src="img/back_arrow_small.png" class="back_arrow"/>
  <div class="col fgt_txt">CHANGE PASSWORD</div></div>

  </div>
  <ion-content style="background:#fff!important;padding-top:50px;">

<br/>

	<div align="center" class="padding" >
		<h4>CHANGE PASSWORD</h5>
	<div class="list list-inset">

	  <label class="item item-input">
		<input type="password" ng-model="change.current" placeholder="CURRENT PASSWORD">
	  </label>
    <br/>
    <label class="item item-input">
		<input type="password" ng-model="change.newpwd" placeholder="NEW PASSWORD">
	  </label>
    <br/>
    <label class="item item-input">
		<input type="password" ng-model="change.confirm" placeholder="CONFIRM NEW PASSWORD">
	  </label>
    <br/>
		<div>
			<button class="button button-block button-positive" ng-click="ChangePassword()" >SUBMIT</button>
		</div>


</div>
   </div>


 <!--  </div> -->



  </ion-content>
</ion-view>
<ion-slide>
