<ion-slide>
  <ion-view view-title="Co-Workers" class="myhap_content">
  <div align="left" align="center" class="bar-myhap row">
    <img src="img/back_arrow_small.png" ui-sref="anyhapfriends" class="back_arrow"/>
  <div class="col-33 coworkers_txt_tab">Co-Workers</div>
  <div class="col-33 coworkers_txt_tab">&nbsp;</div>
<div class="col-33"  ng-click="openPopoverCoworker($event)"><i class="icon ion-android-more-vertical icon_menu_coworkers" ></i></div>
  </div>



  <ion-content>

<div class="row coworkers_notification">

  <div class="col-33 ">
    <img src="img/notification_pic1.png"/>
  </div>
  <div class="col-33">
    <span class="user_txt">Pablo Figuero</span>
  </div>


</div>

<div class="row coworkers_notification">

  <div class="col-33 ">
    <img src="img/notification_pic2.png"/>
  </div>
  <div class="col-33">
    <span class="user_txt">Marta Goodman</span>
  </div>


</div>
<div class="row coworkers_notification">

  <div class="col-33 ">
    <img src="img/profile_pic.png" style="width:52px;"/>
  </div>
  <div class="col-33">
    <span class="user_txt">You</span>
  </div>


</div>

  </ion-content>
</ion-view></ion-slide>
