<ion-slide>
<ion-view view-title="Anyhap Friends">


  <ion-content >
  <div align="left" class="bar bar-header-anyhapfrnds">
    <img src="img/back_arrow_small.png" ui-sref="profilerating" class="back_arrow"/>
  <div class="col-33 anyhapfrnds_text">CREATE GROUP</div>
  <div class="col-33 anyhapfrnds_text">&nbsp;</div>
<div class="col-33 anyhapfrnds_text" ui-sref="anyhapfriends">DONE</div>
  </div>

          <div class="row search-padding">
            <label class="item item-input srch_input">
                  <img src="img/search_icon_grey.png" class="search_icon"/>
                  <input type="text" placeholder="Search">
                </label>

          </div>
          <br>
            <div class="row search-padding">

                        <div class="col-20 ">
                          <img src="img/notification_pic3.png"/>

                        </div>
                        <div class="col-50">
                          <span class="user_txt">Livia White</span>

                        </div>
                        <div class="col-30">
                          <ion-checkbox class="item item-checkbox checkbox-square checkbox-calmc food_top"> </ion-checkbox>
                        </div>
                      </div>
                      <div class="row search-padding">
                        <div class="col-20">
                          <img src="img/notification_pic1.png"/>

                        </div>
                        <div class="col-50">
                          <span class="user_txt">Patrick</span>

                        </div>
                        <div class="col-30">
                          <ion-checkbox class="item item-checkbox checkbox-square checkbox-calmc food_top"> </ion-checkbox>
                        </div>
                      </div>
                      <div class="row search-padding">
                        <div class="col-20">
                          <img src="img/notification_pic2.png"/>

                        </div>
                        <div class="col-50">
                          <span class="user_txt">Pablo Figauero</span>

                        </div>
                        <div class="col-30">
                          <ion-checkbox class="item item-checkbox checkbox-square checkbox-calmc food_top"> </ion-checkbox>
                        </div>
                      </div>
                      <div class="row search-padding">
                        <div class="col-20">
                          <img src="img/notification_pic1.png"/>

                        </div>
                        <div class="col-50">
                          <span class="user_txt">Marta Goodman</span>

                        </div>
                        <div class="col-30">
                          <ion-checkbox class="item item-checkbox checkbox-square checkbox-calmc food_top"> </ion-checkbox>
                        </div>
                      </div>
                      <div class="row search-padding">
                          <button class="button button-positive button_findfriends" ui-sref="invitefriends"><h5 class="findfriends_txt">DIDN'T FIND YOUR FRIENDS? INVITE THEM</h5></button>
                      </div>






  </ion-content>
</ion-view>
<ion-slide>
