<ion-slide>
<ion-view view-title="Categories">
  <div align="left" class="row bar bar_happening">
    <!--<div class="col-50">
      <i class="icon ion-android-arrow-back back_arrow_icon" ui-sref="app.mainnow"></i>
    </div>-->

  </div>

  <ion-content class="happen_cnt">
    <h3 class="hap_header">Filter</h3>

  <div class="list" style="margin-bottom:80px">

 <ion-checkbox  ng-repeat="items in categories" ng-click="selectedCategory(items,$index)">
      <img  ng-src="{{items.offimage}}" class="icons_img">
   
      <span  class="text_truncate">{{items.categoryname}}</span>

      <!-- <div class="circle_img"></div> -->
 </ion-checkbox>

  </div>
  </ion-content>
     <div class="bar bar-footer">
      <div class="title">
          <h5 class="next_text" ng-click="filterCategories()" style="color:#1791f2">OK</h5>
      </div>
    </div>

</ion-view>
</ion-slide>
