<ion-slide>
<ion-view view-title="FORGOT PASSWORD">
  <div align="left" class="bar bar-header-worldsmost">
<div class="back_arrow_padding" ui-sref="app.mainnow">
<img src="img/back_arrow_small.png" class="back_arrow"/>
<div class="col worldsmost_text">FORGOT PASSWORD</div></div>

</div>
  <ion-content style="background:#fff!important;padding-top:50px;">

<br/>
  <div align="center">
  <img src="img/forgotpassword.png" style="width:10%; min-width:20%;"/>

  </div>
	<div align="center" class="padding" >
		<h4>FORGOT PASSWORD</h5>
	<div class="list list-inset">
  <p>Please enter your email address below we will send you a link to reset your password</p>
	  <label class="item item-input">


		<input type="email" placeholder="ENTER YOUR E-MAIL ADDRESS" ng-model="forgot.email">
	  </label>

		<div>
			<button class="button button-block button-positive" ng-click="forgotpassword()" >RESET</button>
		</div>


</div>
   </div>


 <!--  </div> -->



  </ion-content>
</ion-view>
<ion-slide>
