<ion-slide>
<ion-view view-title="Categories">
  <div align="left" class="row bar bar_happening">
    <div class="col-20">
      <i class="icon ion-android-arrow-back back_arrow_icon" ui-sref="upcominghapedit"></i>
    </div>
    <div align="center" class="col-60" style="padding: 5px;">
        EDIT HAP CATEGORY
    </div>
    <div align="center" class="col-20" style="padding: 5px;">
        &nbsp;
    </div>
  </div>

  <ion-content class="happen_cnt">
    <h3 class="hap_header">What kind of hap is it?</h3>

  <div class="list">

 <ion-radio  ng-repeat="items in categories" ng-click="selectedCategory(items,$index)">
      <img ng-hide="$index == row" ng-src="{{items.offimage}}" class="icons_img">
       <img ng-show="$index == row" ng-src="{{items.onimage}}" class="icons_img">
      <span ng-class="{text_color : $index == row}" class="text_truncate">{{items.categoryname}}</span>

      <div class="circle_img"></div>
 </ion-radio>


  </div>
  </ion-content>
     <div class="bar bar-footer">
      <div class="title">
        <h5 class="next_text" ng-hide="next == 1"> OK </h5>
          <h5 class="next_text" ng-show="next == 1" ng-click="editHapCategory()" style="color:#1791f2"> UPDATE </h5>
      </div>
    </div>

</ion-view>
</ion-slide>
