  <ion-view>

     <ion-content class="info_bg">
   <h5 class="about_txt">ABOUT</h5>
   <span class="about_cnt">{{displayProfile.about}}</span>
   <div>
   <h5 class="haps_txt">HAPS <span class="haps_num">{{haps}}</span></h5>
   </div>
   <div style="clear:both;"></div>
   <div>
   <h5 class="haps_txt">FOLLOWERS <span class="haps_num">{{followers}}</span></h5>
   </div>
   <div style="clear:both;"></div>
   <div>
   <h5 class="haps_txt">FOLLOWING <span class="haps_num">{{following}}</span></h5>
   </div>
   </ion-content>

</ion-view>
