<ion-slide>
<ion-view view-title="Invite Friends">

  <ion-content >
  <div align="left" class="bar bar-header-anyhapfrnds">
    <img src="img/back_arrow_small.png" ui-sref="preview" class="back_arrow"/>
  <div class="col worldsmost_text">Invite Friends</div>

  </div>

<div class="invitefriendspublish">

  <div class="row search-padding">
    <label class="item item-input srch_input">
          <img src="img/search_icon_grey.png" class="search_icon"/>
          <input type="text" placeholder="Search">
        </label>

  </div>
  <br>
                      <div class="row search-padding">
                          <h5 class="followers_txt">FOLLOWERS</h5>
                      </div>

                      <div class="row search-padding">
                        <div class="col-33">
                          <img src="img/notification_pic3.png"/>

                        </div>
                        <div class="col-33">
                          <span class="user_txt">Livia White</span>

                        </div>
                        <div class="col-33">
                          <ion-checkbox  class="item item-checkbox checkbox-square checkbox-calmc food_top checkbox_friends"></ion-checkbox>
                        </div>
                      </div>
                      <div class="row search-padding">
                        <div class="col-33">
                          <img src="img/notification_pic1.png"/>

                        </div>
                        <div class="col-33">
                          <span class="user_txt">Patrick</span>

                        </div>
                        <div class="col-33">
                          <ion-checkbox  class="item item-checkbox checkbox-square checkbox-calmc food_top checkbox_friends"></ion-checkbox>
                        </div>
                      </div>

                      <div class="row search-padding">
                          <h5 class="followers_txt">FOLLOWING</h5>
                      </div>

                      <div class="row search-padding">
                        <div class="col-33">
                          <img src="img/notification_pic1.png"/>

                        </div>
                        <div class="col-33">
                          <span class="user_txt">Pablo Figuerao</span>

                        </div>
                        <div class="col-33">
                          <ion-checkbox  class="item item-checkbox checkbox-square checkbox-calmc food_top checkbox_friends"></ion-checkbox>
                        </div>
                      </div>
                      <div class="row search-padding">
                        <div class="col-33">
                          <img src="img/notification_pic2.png"/>

                        </div>
                        <div class="col-33">
                          <span class="user_txt">Marta Goodman</span>

                        </div>
                        <div class="col-33">
                          <ion-checkbox  class="item item-checkbox checkbox-square checkbox-calmc food_top checkbox_friends"></ion-checkbox>
                        </div>
                      </div>
                      <div class="row search-padding">
                          <button class="button button-positive button_findfriends" ui-sref="invitefriends"><h5 class="findfriends_txt">DIDN'T FIND YOUR FRIENDS? INVITE THEM</h5></button>
                      </div>


  </div>






  </ion-content>
</ion-view>
<ion-slide>
