<ion-slide>
<ion-view view-title="Anyhap Friends">
  <div align="left" class="bar bar-header-anyhapfrnds">
      <div class="back_arrow_padding"  ui-sref="app.mainnow"> 
    <img src="img/back_arrow_small.png" class="back_arrow"/>
  <div class="col worldsmost_text">Invite Friends</div></div>

  </div>
<div class="invitefrnds_padding">
  <div align="center">
  <img src="img/invite_friends_icon.png" class="invite_friends_icon"/>

  </div>

  <div align="center" class="padding" >

	<div class="list list-inset">
  <p>Hi! you are being invited to my event in AnyHap Application </p>
  <p>It's an amazing app! You'll able to find events which happended is happening and will happen according to your preferences!</p>

	</div>
   </div>
   <div align="center" class="padding" >

  <div class="list list-inset">
   <h4 class="invite_friends">INVITE YOUR FRIENDS FROM</h4>
   <div align="center" class="row">
     <div class="col-33">
      <img src="img/anyhap_logo_new.png" class="social_icons"/>
    </div>
    <div class="col-33">
     <img src="img/fb.gif" class="social_icons"/>
   </div>
   <div class="col-33">
    <img src="img/g+.ico" class="social_icons"/>
  </div>
  </div>
  </div>
    </div>
  </div>
<ion-content >





  </ion-content>
</ion-view>
<ion-slide>
