<ion-slide>
  <ion-view view-title="CREATE">


  <ion-content>

<div class="bar_preview">
  <div align="left" >
    <img src="img/back_arrow_small.png" ui-sref="app.mainnow" class="back_arrow_preview"/>

  </div>


      <div class="row previewmarker_color">
        <div class="col-20">
          <img src="img/glass_icon.png" class="glass_icon"/>
        </div>
        <div align="left" class="col">
          <h3 class="hap_create_txt">WINTER P</h3>
          <h4 class="f_d_txt">Food & Drink</h4>
        </div>
      </div>

      <div align="center" class="row pre_btm">

        <div class="col">
          <img src="img/invite_icon.png"/><br/>Invite
        </div>
        <div class="col">
          <i class="icon ion-android-more-vertical"></i>
        </div>
      </div>

      <div align="center" class="row pre_cnt">
        <div class="col-20">
            <img src="img/time_icon.png" class="time_icon_preview"/>
        </div>
        <div align="left" class="col">
          <h4 class="when_txt">WHEN</h4>
          <h6>Happening now untill 11:00 pm</h6>
        </div>

      </div>
      <div align="center" class="row pre_cnt">
        <div class="col-20">
            <img src="img/location_icon.png" class="location_icon_preview"/>
        </div>
        <div align="left" class="col">
          <h4 class="where_txt">WHERE</h4>
          <h6>50m from you</h6>
          <h6>Tjnfjknrfdkjn, 21133</h6>
        </div>
        <div align="right" class="col">
            <img src="img/direction_icon.png" class="location_icon_preview"/>
        </div>

      </div>
      <div align="center" class="row pre_cnt_bg" ui-sref="profileuser">
        <div class="col-20">
            <img src="img/user_icon.png" class="location_icon_preview"/>
        </div>
        <div align="left" class="col">

          <h4 class="name_txt">Christan Foster</h4>

        </div>
        <div align="right" class="col">
            <img src="img/chat_icon.png" class="location_icon_preview"/>
        </div>

      </div>

      <div class="des_txt">
      <h4>DESCRIPTION</h4>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
      </div>

      <h4 class="media_txt">MEDIA</h4><br/>
      <div class=" row media_txt">
      <div class="col">
          <img src="img/preview_bg.png" style="width:100%;height:50px;"/>
      </div>
      <div class="col">
        <span class="media_img">&nbsp;</span>
      </div>
      <div class="col">
          <span class="media_img">&nbsp;</span>
      </div>
      <div class="col">
            <span class="media_img">&nbsp;</span>
      </div>
      <div class="col">
            <span class="media_img">&nbsp;</span>
      </div>
      </div>
      <h4 class="ratings_txt">RATINGS</h4><br/>
      <div class=" row media_txt">
      <div class="col-40">
          <img src="img/rating_1.png" class="ratings_img"/>
          <h3>120</h3>
      </div>
      <div class="col-60">
          <div class="row">
            <div class="col-20">
                <h4>15</h4>
          </div>
            <div class="col-40">
          <img src="img/smiley_1.png" />
          </div>
          <div class="col-40 smiley1_color">
        <span class="smiley_1color">&nbsp;</span>
        </div>
          </div>
          <div class="row">
            <div class="col-20">
                <h4>64</h4>
          </div>
            <div class="col">
          <img src="img/smiley_2.png" />
          </div>
          <div class="col-40 smiley_color">
        <span class="smiley_2color">&nbsp;</span>
        </div>
          </div>
          <div class="row">
            <div class="col-20">
                <h4>21</h4>
          </div>
            <div class="col">
          <img src="img/smiley_3.png" />
          </div>
          <div class="col-40 smiley_color">
        <span class="smiley_3color">&nbsp;</span>
        </div>
          </div>
          <div class="row">
            <div class="col-20">
                <h4>3</h4>
          </div>
            <div class="col">
          <img src="img/smiley_4.png" />
          </div>
          <div class="col-40 smiley_color">
        <span class="smiley_4color">&nbsp;</span>
        </div>
          </div>
          <div class="row">
            <div class="col-20">
                <h4>1</h4>
          </div>
            <div class="col">
          <img src="img/smiley_5.png" />
          </div>
          <div class="col-40 smiley_color">
        <span class="smiley_5color">&nbsp;</span>
        </div>
          </div>
          <div class="row">
            <div class="col-20">
                <h4>6</h4>
          </div>
            <div class="col">
          <img src="img/smiley_6.png" />
          </div>
          <div class="col-40 smiley_color">
        <span class="smiley_6color">&nbsp;</span>
        </div>
          </div>
          <div class="row">
            <div class="col-20">
                <h4>0</h4>
          </div>
            <div class="col">
          <img src="img/smiley_7.png" />
          </div>
          <div class="col-40 smiley_color">
        <span class="smiley_7color">&nbsp;</span>
        </div>
          </div>
      </div>

      </div>

      <h4 class="comments_txt">COMMENTS</h4><br/>
      <div class=" row ">
        <div class="col comment_txt">
      There are no comments yet
    </div>
      </div>

</div>

  </ion-content>
  <div align="center" class="bar bar-footer happening_footer">
    <div class="row">

      <div class="col" ng-click="share()">
      <span class="preview_txt">SHARE</span>
      </div>



  </div></div>
</ion-view>
</ion-slide>
