<ion-slide>
<ion-view view-title="Mappopup">
  <div align="left" class="bar bar-header-worldsmost">
    <img src="img/back_arrow_small.png" ui-sref="profilerating" class="back_arrow"/>
  <div class="col worldsmost_text">Map Popup</div>

  </div>
<div class="marker">

<div class="marker_left">
  <div align="center">
    <h3><b>NOW</b></h3>
  </div>

<div>
  <img src="img/time_icon.png" class="saved-icons"/><span class="mapmarker_time">5:00 pm - 11:00 pm</span>
</div>
<div>
    <img src="img/location_icon.png" class="saved-icons"/><span class="mapmarker_distance">50 m from you</span>
</div><br>
<div>
<p class="marker_txt">Bring your own dish Enjoy us!</p>
</div>
</div>

<div class="marker_right">
  <div class="row eventsmap_color">
    <div class="col-20">
      <img src="img/glass_icon.png" class="glass_icon_marker"/>
    </div>
    <div class="col-40">
      <h4 class="marker_txt_winter">Winter P</h4>
      <h5>Food & Drink</h5>
    </div>
    <div align="center" class="col-40 marker_smileycolor" >
      <img src="img/smiley_icon.png" class="smiley_icon"/>
    </div>
  </div>

<div>
  <img src="img/popup_bg.png" class="marker_popupimg"/>
</div>

</div>

</div>


<ion-content>





  </ion-content>
</ion-view>
</ion-slide>
