<ion-slide>
  <ion-view view-title="CREATE">
<ion-content>
<div class="bar_profilerating">
  <div align="center" class="row">
    <div class="col-33">
    <img src="img/back_arrow_small.png" ui-sref="app.mainnow" class="back_arrow_preview"/>
  </div>
  <div class="col-33">
    <img src="img/profile_pic.png" class="profile_pic_profilerating"/><h4 class="fernando_txt">FERNANDO</h4>
  </div>
  <div class="col-33 logout_style" ng-click="openPopoverProfilelogout($event)">
    <i class="icon ion-android-more-vertical" ></i>
  </div>
  </div>
</div>
<div align="center" class="row charity">
  <div class="col-50">
    <h5 class="charity_txt">Collected to Charity:</h5>
</div>
<div class="col-50">
<h5 class="rate_txt">$17,00</h5>
</div>

</div>

<div align="center" class="row followers">
  <div class="col-33">
    <h5>12 Followers</h5>
</div>
<div class="col-33">
<h5>24 Following</h5>
</div>
<div class="col-33">
<h5>1 Groups</h5>
</div>
</div>
<div align="center">
  <h4 class="worldsmost_txt">WORLD'S MOST</h4>
</div>


<ion-tabs class="tabs_profilerating">
    <ion-tab title="VIEWERS" class="tabs-top-saved">

  </ion-tab>
  <ion-tab title="RATING" class="tabs-top-saved">

  </ion-tab>

  </ion-tabs>


  </ion-content>

</ion-view>
</ion-slide>
