<ion-slide>
<ion-view view-title="REPORT">
  <div align="left" class="bar bar-header-editprofile">
    <img src="img/back_arrow_small.png" ui-sref="hapmappreview" class="back_arrow"/>
  <div class="col editprofile_text">REPORT</div>

  </div>
  <ion-content class="editprofile_padding">
<!--<div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Reason
    </div>
    <select>
      <option>Abuse</option>
      <option selected>Abuse</option>
      <option>Aubse</option>
    </select>
  </label>

</div>-->


	<div align="left">

        <div class="list list-inset">

              <label class="item item-input textarea-input">
                <textarea placeholder="Message" ng-model="report.comment" rows="8" cols="6"></textarea>
              </label>
              <br/>
              <button class="button button-full button-calm popup_button" ng-click="ReportComments()">
              REPORT
              </button>
              <br/>
          </div>


   </div>






  </ion-content>
</ion-view>
<ion-slide>
