<ion-slide>
  <ion-view view-title="USER PROFILE">
    <div align="left" class="row bar bar_setting">
      <div class="col">
        <i class="icon ion-android-arrow-back back_arrow_icon_setting" ui-sref="app.mainnow"></i> <h3 class="setting_text">SETTINGS</h3>
      </div>

    </div>
      <ion-content class="padding_setting">
  <div align="left">
    <ion-list>
    <ion-item  class="menu_list"  ui-sref="privacyPolicy">
          Privacy Policy
        </ion-item>
        <ion-item  class="menu_list" ui-sref="rules">
          The Anyhap Rules
        </ion-item>
        <ion-item  class="menu_list" ui-sref="terms">
          Terms and Conditions
        </ion-item>
  </ion-list>
  </div>

  </ion-content>
</ion-view>
</ion-slide>
